@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
	--background-color: white;
	--background-color-old: rgb(39, 39, 39);
	--cart-color: rgb(253, 231, 105);
	/* --font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	--squada-font: 'Squada One', Georgia, serif;
	--font-default: 'Open Sans', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: var(--font-default);
	color: black;
	-webkit-appearance: none;
}

body {
	overflow: scroll;
	background-color: var(--background-color-old);
	color: white;
}

nav,
footer {
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.heading-title {
	text-transform: uppercase;
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	.heading-title {
		display: none;
	}
}
