@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.title {
	font-family: 'Squada One', Georgia, serif;
	font-size: 32px;
	color: crimson;
	transition: transform 0.2s ease;
	padding: 0;
	border: none;
}

.title h2 {
	margin: 0;
}

.title h3 {
	color: rgb(133, 133, 133);
	text-align: center;
	margin: 0;
	font-size: 18px;
	letter-spacing: 0.6rem;
	text-indent: 0.6rem;
}

.title:hover {
	transform: scale(1.1);
}

.nav {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 1fr 2fr 1fr 4fr;
	text-align: center;
	align-items: center;
	/* color: var(--background-color); */
	background-color: var(--background-color);
	box-shadow: 1px 1px 10px black;
}

.nav a,
.title {
	padding: 10px;
}

.cart-count {
	font-weight: bold;
	display: inline;
	vertical-align: text-top;
	line-height: 12px;
}

.hr {
	border: none;
	outline: none;
}

.link:hover {
	text-decoration: underline;
}

.button {
	cursor: pointer;
	outline: 0;
	border: 0;
	position: absolute;
	right: 0;
	margin-right: 40px;
	background: none;
	/* color: white; */
}

.footer {
	background-color: var(--background-color);
	/* color: white; */
	text-align: center;
	padding: 15px 0 5px 0;
	margin-top: 25px;
	border-top: 1px solid black;
}

.socials {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.socials a {
	margin: 10px;
}

.copyright {
	margin-left: 10px;
	font-size: 12px;
	display: inline-block;
}

@media only screen and (max-width: 1024px) {
	.nav {
		position: fixed;
		z-index: 5;
		top: 0;
		height: 12%;
		width: 100%;
		text-align: center;
		margin: 0;
		grid-template-columns: 2fr 1fr 2fr;
		gap: 0;
	}

	.children {
		margin-top: 125px;
	}

	.link {
		display: none;
	}

	.title h6 {
		text-align: center;
	}

	.footer {
		width: 100%;
		bottom: 0;
		font-size: 0.75em;
	}
}
