.wrapper {
	background-color: rgb(46, 182, 46);
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	padding: 0 45px 0 10px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.2s ease;
	opacity: 1;
	display: flex;
	flex-flow: row nowrap;
	gap: 5px;
}

.wrapper svg {
	margin-top: 20px;
}

.wrapper div {
	position: absolute;
	right: 2px;
	bottom: 20%;
	padding: 0;
	cursor: pointer;
	color: white;
}

.disabled > .wrapper {
	opacity: 0;
	pointer-events: none;
}
