.wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 0 10%;
	margin-top: 50px;
}

.image-wrapper {
	max-width: 100%;
	min-width: 50%;
	position: relative;
}

.right-column {
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
	padding: 5%;
}

.right-column select {
	background-color: white;
	color: black;
	width: 100%;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 10px;
	-webkit-appearance: none;
}

.right-column button {
	width: 100%;
	height: 50px;
	background-color: crimson;
	box-shadow: 0 0 3px black;
	color: white;
	font-size: 24px;
	border: none;
	outline: none;
	font-weight: bold;
	transition: all 0.2s ease;
}

.right-column button:disabled {
	background-color: white;
	color: crimson;
	cursor: not-allowed;
}

.right-column h1,
.right-column h2 {
	margin: 5px;
}

.price {
	color: rgb(167, 167, 167);
}

.desc {
	margin: 5px;
}

.back-arrow {
	width: 3em;
	height: auto;
	position: absolute;
	left: 5%;
}

@media only screen and (max-width: 1024px) {
	.wrapper {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0;
		margin-top: -25px;
	}

	.image-wrapper {
		width: 100%;
		height: 50vh;
	}

	.right-column {
		display: flex;
		width: 100%;
		margin: 0;
	}

	.back-arrow {
		position: absolute;
		top: 3%;
		left: 10vw;
		z-index: 5;
		width: 2.5em;
		color: var(--background-color-old);
		-webkit-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
